// WATER VAWE
@keyframes water-wave{
  0%
  {
    border-radius: 120px 135px 110px 90px;
  }
  25%
  {
      border-radius: 130px 140px 100px 110px;
  }
  50%
  {
      border-radius: 110px 97px 150px 100px;
  }
  75%
  {
      border-radius: 80px 107px 120px 90px;
  }
  100%
  {
    border-radius: 120px 135px 110px 90px;
  }
}
