html {
  box-sizing: border-box;
  font-size: 100%;
}
*::before,
*::after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}
body{
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #818385;
}
::selection {
  background-color: #9ED060;
  color: white;
}