.choose-class{
  padding: 150px 0;
}
.choose{
  display: flex;
  align-items: center;
  width: 100%;
}
.choose-left{
  width: 33.33%;
  margin-left: 16.66%;
  padding: 0 15px;
}
.choose-box{
  display: flex;
  margin-bottom: 48px ;
}
.choose-icon-box{
  margin-right: 24px;
}
.choose-icon-box img{
  width: 93px;
}
.choose-box-content{
  display: flex;
  flex-direction: column;
}
.choose-big{
  font-size: 22px;
  color: #172231;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}
.choose-bg{
  width: 41.6%;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.feature-bg{
  position: absolute;
  background-image: url(../images/feature-bg.png);
  top: -100px;
  left: 8px;
  width: 103%;
  height: 150%;
  z-index: -1;
}
.choose-bg img{
  height: auto;
  max-width: 100%;
  background-image: url(../images/feature.jpg);
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
  position: relative;
}